.btn {
  display: inline-block;
  background: #CCC;
  margin: .2rem;
  margin-left: 1rem;
  padding: .5rem;
  color: #444;
  cursor: default;
  text-transform: uppercase;
  line-height: 1rem;
  transition: all .5s;
}

.btn:hover {
  background-color: #444;
  color: #CCC;
  cursor: pointer;
}

.btn:focus {
  outline: none;
  background-color: #444;
  color: #CCC;
  cursor: pointer;
}

#btn-start {
    -webkit-app-region: no-drag;
}

.cb-container {
  padding: .1em;
}

label.cb-label {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1rem;
}

label.cb-label input[type=checkbox] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

label.cb-label span.checkmark {
  position: absolute;
  top: 0;
  left: .2rem;
  height: 25px;
  width: 25px;
  background-color: #222;
  border: 1px solid #FFF;
}

label.cb-label:hover input[type=checkbox] ~ .checkmark {
  background-color: #222;
}

label.cb-label input[type=checkbox]:checked ~ .checkmark {
  background-color: #222;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

label.cb-label input[type=checkbox]:checked ~ .checkmark:after {
  display: block;
}

label.cb-label .checkmark:after {
  left: 7px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid #FFF;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input {
  color: #CCC;
  padding: .25rem;
  margin: .25rem;
  width: 5rem;
}

input[type=text] {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba( 200 , 200 , 200 , 1 );
  padding: .3rem;
  margin: .1rem;
  margin-left: 1.3rem;
}

input[type=text]:focus {
  outline: none;
}

input[type=time] {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba( 200 , 200 , 200 , 1 );
  padding: .1rem;
  margin: .1rem;
  margin-left: 1rem;
}

input[type=time]:focus {
  outline: none;
}

.styled-select {
  display: inline-block;
  border: 1px solid #CCC;
  width: 5rem;
  overflow: hidden;
  background: #CCC url("./res/img/icon-select.png") no-repeat 90% 50%;
  margin-bottom: -10px;
  margin-left: 1rem;
}

.styled-select select {
  color: #444;
  padding: .25rem;
  width: inherit;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
}

.styled-select select option {
  background-color: #CCC;
  color: #444;
}

.styled-select select:focus {
  outline: none;
}
